/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require_tree .
 */

body{
    padding-top: 60px;
}


/*固定页脚*/
html, body {
    margin:0;    /* 必要，否则纵向滚动条不会消失 */
    height:100%; /* 必要，以便之后给container设置高度百分比 */
}
.password-family {
    min-height:100%; /* 此属性需要doctype的支持，见第一行。 否则不会生效。在IE中，写height：100%就可以工作，但其他浏览器需要设置min-height。*/
    position:relative; /* 必要 */
}
.body {
    padding-bottom:140px;    /* 等于footer的高度 */
}
footer {
    position:absolute; /* 必要 */
    bottom:0; /* 必要 */
}
