@import "function.css.less" ;
.navbar-inner a:hover{
    cursor: pointer;
}
//产品导航条
ul.pull-right{
    li{
	margin-right: 10px;
	a {
	    color: #fff;
	    &:hover{text-decoration: none;}
	}
    }
}
.jumbotron{
    background-color: #486682;
    .carousel{
	margin-bottom: 0px;
    }    
   .span5{
       color:#29F078;
       padding: 25px 0px 0px 59px;
       h2{padding-bottom: 60px;}
       a{margin: 64px 0 0 90px;}
   }
   .span7{
       img{width:100%;
	  hight:398px;}
       a{line-height: 40px;}
   }
}
// 产品中间
.container{
   hr{clear: both;}
  .inner{
      margin: 60px 0 50px 0;
      text-align: center;

      .con_inner{
	  margin-left: 40%;
	  text-align: left;
      }
  
  }
  .marketing{
      .row{
	  margin-left: 10%;
	  .span4{
	      margin-right: 80px;
	      margin-bottom: 20px;
	  }
      }
  }
  
}

//登录
.ligin_container{
    .row-fluid{
	#border-radius(4px);
	border:1px solid #aaa;
	text-align: center;
	padding: 30px;
	width:400px;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 200px;
	
	.span1{width: 100px;}
	.span4{
	    width: 250px;
	    .link{margin: 10px 0 0 20px;}
	}
	input.btn{width: 220px;}
    }
}
.alert{text-align:center;}



//登录后导航条
ul.sidenav{
    margin: 30px 0 0;
    padding: 0;
    background-color: #fff;
    	#border-radius(6px);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
    li .icon-chevron-right{
	float: right;
    }
    li > a{
	   #border-radius(4px);
	    display: block;
	    margin: 0 0 -1px;
	    padding: 8px 14px;
	    border: 1px solid #e5e5e5;
    }
}

//foo
footer{
    background-color: #eceef1;
    .inner{
	width: 80%;
	padding: 60px;
	margin: 0 auto;
	span{float: left;}
	ul{
	    list-style: none;
	    li{
		float: right;
		margin-right: 70px;
	    }	    
	}
    }    
}