// Place all the styles related to the member controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

h3.new_member{ margin-left: 17px;}
form{
 .modal-body{
     padding-left: 35px;
     .hint{
	 margin-left:50px;
     }
 }
}
#members{
   td{
       i.icon-eye-open{
	   padding: 5px 5px 5px 0;
	   cursor: pointer;
       }
   }
}